@import "../base/variable.scss"; // variable.less


.about-us{
  padding-left: 30px;
  p{
    padding-top: 35px;
  }
  .description{
    padding-top: 5px;
  }
}
.icon-icon{
  text-align: center;
  i{
    width: 90px;
    height: 90px;
    background: $white;
    border-radius: 100px;
    text-align: center;
    line-height: 90px;
    margin:  0 auto;
    font-size: 30px;
    color: $green;
  }
}
.service-box{
  .content{
    .about-text{
        color: $black-light;
    }
  }
}

.partner-content {
  padding: 18px 30px 25px 15px;
}
.partner-img {
  text-align: center;
  padding: 50px 30px;
}

.angle-left-arrow{
  position: relative;
  padding-left: 15px;
  color: $green;
    &:before{
      position: absolute;
      left: 0;
      content: '\f101';
      font-family: FontAwesome;
    }
}
.angel-right-arrow{
  position: relative;
  padding-right: 15px;
  position: relative;
  color: $green;
  &:before{
    position: absolute;
    right: 0;
    content: '\f101';
    font-family: FontAwesome;

  }
}

.partner{
  p{
    margin-top: 20px;
    margin-bottom: 43px;
  }
}

.about-us{
  .check-list{
    li{
      position: relative;
      padding-left: 20px;
      padding-top: 5px;
      font-family: $lato;
      &:before{
        content: '\f058';
        position: absolute;
        left: 0px;
        font-family: FontAwesome;
        top: 6px;
        color: $green;
      }
    }
  }
}

.designation{
  font-size: 14px;
  color: $green;
  font-weight: 400;
}
