# code editors
.metadata/
.vscode/
.project

# coverage directory used by tools like istanbul
coverage

# dependency directories
node_modules/

# dump files
.DS_Store

# eslint cache
.eslintcache

# logs
logs
*.log
npm-debug.log*

# npm cache directory
.npm

# nyc test coverage
.nyc_output

# typeScript v1 declaration files
typings/