
$white: #fff;
$black: #252525;
$gray:#636363;
$deep: #f7f7f7;
$deep-light: #f9f9f9;
$gray-light:#b7b7b7;
$copyright: #1f1f1f;
$black-light: #55555a;

$border: #cdd9e4;
$round: #e7e7e7;




$navy-blue: #013c74;
$green: #5cc35c;

$shadow: #081a2b;


$open: 'Open Sans', sans-serif;
$lato: 'Lato', sans-serif;